<div class="container">
	<div class="card-panel hoverable">
		
		<h1 class="center-align">Welcome to V.i.A</h1>
		
		<div class="divider"></div>
		
			<h3 class="center-align">Vendor Information Application</h3>
		
	</div>
</div>

<div class="container">
	<div class="card-panel hoverable">
		<div class="card-content blue-text">
			<% if current_user %>
			
					<h3 class="center-align"><%= link_to "Click here to view our Companies", companies_path %></h3>	
			
			<% else %>
			<blockquote>
					<h3 class="center-align"><%= link_to "Please sign in!", new_user_session_path %></h3>	
			</blockquote>
			<% end %>
		</div>
	</div>
</div>
