<div class="parallax-container">
      <div class="parallax"><img src="/assets/kitchen.jpg"></div>
</div>

<div class="container">
	<div class="card-panel hoverable grey lighten-3">		
		<h2 class="center-align">Welcome to V.i.A</h2>		
		<div class="divider"></div>		
		<h4 class="center-align">The Vendor Information Application</h4>		
	</div>
</div>

<div class="container">
	<div class="card-panel hoverable grey lighten-3">
		<div class="card-content blue-text">
			<% if current_user %>			
					<h5 class="center-align"><%= link_to "Click here to view our Companies", companies_path %></h5>
			<% else %>
			<blockquote>
					<h5 class="center-align"><%= link_to "Please sign in!", new_user_session_path %></h5>	
			</blockquote>
			<% end %>
		</div>
	</div>
</div>
