<h1>Stores</h1>

<div class="row">
  <div class="col s12 m7">
  <% @stores.each do |store| %>
    <div class="card hoverable">
      
      <div class="card-content">
        <p>Store: <%= store.store_name %></p>
        <p>Phone: <%= store.store_phone %></p>
      </div>
      <div class="card-action">
        <a href="<%= company_vendors_path %>">Vendors</a>
      </div>
    </div>
    <% end %>
  </div>
</div>