<div style="margin: 50px">

<h1>New Store</h1>

<%= render 'form', store: @store %>

<br>
<a href="<%= company_stores_path(@company) %>" class="waves-effect waves-light btn"><i class="material-icons left">navigate_before</i>back</a>
</div>